@charset "UTF-8";

/* common.css触ると全部ページ崩れるので触らないようお願いします！！！ */

/* 全体の指示 */
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: YuGothic, "Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
    font-weight: 500;
    line-height: 1;
}

/* コンテンツ幅の制御 */
/* 各コンテンツエリアにクラス名「inner-1」をつけて幅を1000pxに指定してください（エース英会話参照） */
.inner-1 {
    width: 1000px;
    margin: 0 auto;
}

/* 横並び用class */
/* 横並びしたい箇所にクラス名「flex」をつけてください */
.flex {
    display: flex;
    justify-content: space-between;
}


/* ここからヘッダー */
header img {
    display: block;
    max-width: 100%;
    height: auto;
}


header .flex {
    /* background-color: aquamarine; */
    align-items: center;
}

header .cta a {
    font-size: 20px;
    font-weight: 600;
    background-color: blueviolet;
    padding: 15px 27px;
    color: #fff;
    border-radius: 30px;
    transition: 0.3s;
}

header .cta a:hover {
    opacity: 0.7;
}

header .cta .cta-1 {
    background-color: #6a811e;
}

header .cta .cta-2 {
    background-color: #70d7ab;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #f8f4ea;
}

.hd {
    /* background-color: red; */
    height: 100px;
}

/* ここからナビゲーション */
nav {
    /* background-color: red; */
    position: fixed;
    width: 100%;
    top: 80px;
    left: 0;
    z-index: 99;
}

nav li {
    /* background-color: aqua; */
    width: 190px;
    text-align: center;
}

nav li a {
    display: block;
    color: #5c8f2b;
    /* background-color: red; */
    padding: 30px 15px 15px 15px;
    border-radius: 15px;
    background-color: #f8f4ea;
    font-size: 20px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

nav li a:hover {
    padding: 40px 15px 15px 15px;
}

/* ここからメインの高さ調節 */
main {
    /* background-color: rebeccapurple; */
    padding-top: 145px;
}

/* 古いフッター上のイラスト */
/* .ft {
    justify-content: flex-end;
    gap: 40px;
    padding-right: 35px;
    max-width: 1280px;
    margin: 0 auto;
} */

/* 新しいフッター上のイラスト 7月8日追記分*/
.ft .tk img {
    display: block;
    margin-left: auto;
    padding-right: 20px;
    /* background-color: #ff8a5b; */
}

.ft .to-top {
    position: fixed;
    z-index: 98;
    bottom: 200px;
    right: 20px;
}

/* ここからフッター */
footer {
    background-color: #59ffc2;
    /* text-align: center; */
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}

footer .flex {
    align-items: center;
    /* background-color: khaki; */
    padding: 15px 0;
}

footer a {
    color: #fff;
    transition: 0.3s;
}

footer a:hover {
    color: #ff8a5b;
}

footer small {
    display: block;
    text-align: center;
    /* background-color: brown; */
    font-size: 12px;
    line-height: 2;
}


/* レスポンシブ対応 7月8日追記分*/
img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1000px) {
    /* タブレット */
    /* 1000px以下のとき */
    nav li a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    /* スマホ */
    /* 768px以下のとき */
    /* ナビゲーションなくしてハンバーガーボタンにする */
}

/* 以下to-topのための追記　2026/7/8 15:18 by Sato */

.to-top {
    /* ブラウザ右下に固定 */
    position: fixed;
    right: 40px;
    bottom: 108px;
    /* 本来の数値40px + CTAの高さ68px = 108px */
}

/* ★フェードアップアニメーション */
@keyframes fadeUp-move {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fadeUpActive {
    animation: fadeUp-move 1s forwards;
}

.fadeUp-trigger {
    opacity: 0;
    transform: translateY(30px);
}

/* 以下はto-topには使いませんが便利なのでcommonに追記 */
.delay-1 {
    animation-delay: 0s;
}

.delay-2 {
    animation-delay: 0.2s;
}

.delay-3 {
    animation-delay: 0.4s;
}