@charset "UTF-8";

.qa {
    /* background-color: red; */
    padding: 40px 0;
}

.qa h2 {
    /* background-color: navy; */
    padding-bottom: 40px;
}

.qa dl {
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);

}

.qa dt {
    line-height: 1.5;
    padding-left: 10px;
    cursor: pointer;
}

.qa dd {
    background-color: #fff;
    line-height: 1.5;
    padding: 15px 25px;
    display: none;

}

.koi {
    background-color: #70d7ab;
}

.usu {
    background-color: #d0ffd1;
}

.contact h2 {
    /* background-color: darkkhaki; */
    padding-bottom: 40px;
}

.contact dl {
    display: grid;
    grid-template-columns: 230px 1fr;
    gap: 24px 40px;
}

.contact dt {
    height: fit-content;
    padding: 10px;
}

.contact dd label {
    display: block;
}

form .flex {
    justify-content: flex-start;
}

textarea {
    resize: none;
    width: 650px;
    height: 300px;
}

form .agree {
    text-align: center;
    margin: 30px auto;
}

.agree a {
    color: #006837;
    transition: 0.3s;
}


.agree a:hover {
    color: #f15a24;
}

form .put {
    /* background-color: firebrick; */
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.submit {
    /* background-color: rebeccapurple; */
    text-align: center;
    padding-bottom: 30px;
}

input[type="submit"]{
    display: inline-block;
    padding: 16px 48px;
    background-color: #f15a24;
    color: #fff;
    border: none;
    border-radius: 10px;
    /* appearance: none;
    -webkit-appearance: none; */
}

.attention {
    /* background-color: #006837; */
    display: block;
    width: fit-content;
    margin: 0 auto;
    line-height: 1.5;
}

.pra span{
    text-align: center;
}

.alert {
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0;
	color: #DC2900;
	display: block;
    width: 100%;
    display: none;
}

.contact dd.flex{
    flex-wrap: wrap;
}

.alert::before {
	content: "（！）";
}


/* レスポンシブ対応 */
/* 1000px */
@media (max-width: 1000px) {
    .inner-1 {
        width: 100%;
    }

    .qa h2 {
        padding: 30px 30px;
    }

    text-eria{
        width: 100%;
    }


}


/* 768px */
@media (max-width: 768px) {
    .inner-1 {
        width: 100%;
    }

    text-eria{
        width: 100%;
    }

    .qa h2 {
        font-size: 20px;
        padding: 20px 20px;
    }


    .contact dl {
        grid-template-columns: 1fr;
        gap: 10px 0;
    }

    .contact dt {
        padding: 20 0 px;
    }

    .contact dd {
        margin: 0 0 24px;
    }

    .contact textarea {
        width: 100%;
        max-width: 100%;
        height: 200px;
        box-sizing: border-box;
    }

    .massege-alert{
        display: block;
        width: fit-content;
        margin-top: 5px 0 0 0;
    }

    .agree-alert{
        text-align: center;
        margin-top: -15px;
        margin-bottom: 20px;
    }
    
    .pra{
        text-align: center;
    }

    .agree-alert{
        width: fit-content;
        margin: -20% auto 20px;
    }
}