@charset "UTF-8";

body {
    color: #534741;
}

.section1 h2 {
    /* background-color: red; */
    text-align: center;
    margin: 45px auto;

}

.section1 ul {
    /* background-color: bisque; */
    justify-content: flex-start;
}

#buttons li {
    width: 150px;
    line-height: 3;
    text-align: center;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
}

.tab1 {
    background-color: #f0fff3;
    border-top: 2px solid #59ffc2;
    border-left: 2px solid #59ffc2;
    border-right: 2px solid #59ffc2;
    border-radius: 10px;
}

.tab2 {
    background-color: #fefff0;
    border-top: 2px solid #fbb03b;
    border-left: 2px solid #fbb03b;
    border-right: 2px solid #fbb03b;
    border-radius: 10px;
}

.tab1 a {
    display: block;
    color: #33cc99;
    font-weight: 600;
}

.tab1 a:hover {
    color: #fbb03b;
}

.tab2 a {
    display: block;
    color: #fbb03b;
    font-weight: 600;
}

.tab2 a:hover {
    color: #33cc99;
}

.tabwrap {
    position: relative;
}

#buttons {
    position: absolute;
    top: -43px;
    left: 3px;
    z-index: 1;
}

#tab1 {
    background-color: #f0fff3;
    border: 2px solid #59ffc2;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
}

.h3 {
    justify-content: center;
    /* background-color: palevioletred; */
    align-items: center;
    padding: 20px 0 20px;
}

.h3 h3 {
    /* background-color: rebeccapurple; */
    height: fit-content;
    padding-left: 10px;
}

#tab2 {
    background-color: #fefff0;
    border: 2px solid #fbb03b;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
}

.schedule {
    gap: 20px;
    justify-content: center;
}

.schedule dl {

    font-size: 16px;
    /* background-color: peru; */
    align-items: center;
}

.schedule dt {
    color: #56d6aa;
}

.row {
    display: grid;
    grid-template-columns: 80px 1fr;
    /* column-gap: 40px; */
    align-items: center;
    height: 61px;
    border-bottom: 1px solid #56d6aa;
}

.schedule img {
    margin-top: 20px;
}

.schedule dd {
    margin: 0;
    /* background-color: palegoldenrod; */
}

#contents p {
    text-align: center;
    padding-bottom: 40px;
    color: #33cc99;
    font-weight: 600;
}

#contents small {
    font-size: 12px;
    display: block;
    width: fit-content;
    margin: 20px auto;
}

/* 年間スケジュール */
.section2 {
    background-color: #f8f4ea;
    text-align: center;
    margin-top: 40px;
}

.section2 h2 {
    margin: 0 auto;
    padding: 40px 0;
    /* background-color: yellowgreen; */
}

.section2 .gap {
    /* background-color: tomato; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

/* ここから疑似クラス */
.box {
    /* background-color: peru; */
    position: relative;
    /* キーオブジェクトとして扱う */
}

.box::before {
    content: "春";
    font-weight: 600;
    font-size: 24px;
    background-color: #ffcbc1;
    color: #fff;
    display: block;
    width: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

/* 春夏秋冬の差し替え */
.spring .box::before {
    content: "春";
}

.summer .box::before {
    content: "夏";
    background-color: #ffd299;
}

.autumn .box::before {
    content: "秋";
    background-color: #ead373;
}

.winter .box::before {
    content: "冬";
    background-color: #b3ccf2;
}

.spring .box {
    background-color: #fff5f3;
    border: solid 2px #ffcbc1;
    border-radius: 10px;
    padding: 70px 10px 10px 10px;
    height: 400px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
}

.summer .box {
    background-color: #fef7f1;
    border: solid 2px #ffd299;
    border-radius: 10px;
    padding: 70px 10px 10px 10px;
    height: 400px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
}


.autumn .box {
    background-color: #fdfbe3;
    border: solid 2px #ead373;
    border-radius: 10px;
    padding: 70px 10px 10px 10px;
    height: 400px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
}

.winter .box {
    background-color: #f0f5fc;
    border: solid 2px #b3ccf2;
    border-radius: 10px;
    padding: 70px 10px 10px 10px;
    height: 400px;
    box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.1);
}

*/ .section2 img {
    border-radius: 20px;
}

.spring p,
.summer p,
.autumn p {
    /* background-color: aqua; */
    padding-top: 40px;
    font-weight: 600;
}

.winter p {
    /* background-color: aqua; */
    padding-top: 23px;
    line-height: 1;
    font-weight: 600;
}

.section2 small {
    /* background-color: red; */
    display: block;
    padding: 40px 0;
}

small {
    line-height: 1.5;
}

.ft {
    background-color: #f8f4ea;
}

/* ここからjs用記述 */
@keyframes fadeUp-move{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeUpActive {
    animation: fadeUp-move 1s forwards;
}

.fadeUp-trigger {
    opacity: 0;
    transform: translateY(30px);
}

.delay-1 {
    animation-delay: 0s;
}

.delay-2 {
    animation-delay: 0.2s;
}

.delay-3 {
    animation-delay: 0.4s;
}

.delay-4 {
    animation-delay: 0.6s;
}
/* ここまで */


/* ここからレスポンシブ */

@media (max-width :1000px) {
    .inner-1 {
        width: 100%;
    }
}

@media (max-width :768px) {
    .inner-1 {
        width: 100%;
    }

    #tab1,
    #tab2 {
        padding: 10px;
    }

    #tab1 small {
        /* background-color: yellow; */
        padding: 0 50px;
    }

    #tab2 small {
        /* background-color: yellow; */
        padding: 0 50px;
    }

    .section2 .gap {
       grid-template-columns: 1fr;
    }

    .section1 h2 {
        /* background-color: lawngreen; */
        padding-bottom: 20px;
    }

    .section2 h2 {
        /* background-color: gold; */
        margin-bottom: 20px;
    }
}

@media (max-width :768px) {

    .section1 h3 {
        font-size: 16px;
    }

    .section1 p {
        font-size: 14px;
    }

    .section1 dl{
        font-size: 12px;   
    }

    small {
        line-height: 1.7;
    }

}